.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    padding: 14px 40px;
}

.primary {
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.4);
    padding: 13.5px 40px;
}
.home {
    font-size: 20px;
    padding: 18px;
    width: 230px;
    height: 60px;
}

.secondary {
    background-color: #103931;
    padding: 14px 40px;
}
.header {
    background-color: rgba(251, 251, 251, 0.5);
    padding: 14px 40px;
    color: #000000;
    
}
.auth {
    background-color: #103931;
    padding: 16px;
    width: 100%;
}